html{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    width:auto;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #f3f0e9;
    color: #333;
    line-height: 1;
    width: auto;
}
style{
    div.relative {
        position: relative;
        left: 30px;
        border: 3px solid #73AD21;
      }
}

.header{
    background-color: #000;
}

.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding-top: 10px;
}

.nav{
    background-color: #000;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
}

.nav li{
    display: inline;
    text-align: center;
}

.nav li a {
    padding-left: 25px;
    color: #fff;
    width: 100%;
    text-decoration: none;
}

.hero{
    padding: auto;
    text-align: center;
    background-image: url(../images/hero-background.jpg);
    background-position: 100% 100%;
    background-size: cover;
    color: #fff;
}

.hero h1, p {
    padding: auto;
}

.hero h1{
    font-weight: bolder;
}

.hero a {
    background-color: #fff;
    padding: auto;
    color: #000;
    text-decoration: none;
}

h5{
    color: #d69e3d;
}

.features{
    text-align: center;
}

.features img{
    width: 250px;
    height: 250px;
}

.feacture h2{
    font-size: 150%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "a a"
    "a a"
    "b c"
    "d e";
}

.pic1{
    grid-area: a;
    width: 100%;
    margin-bottom: 10px;
}

.pic2{
    grid-area: b;
    width: 100%;
}

.pic3{
    grid-area: c;
    width: 100%;
    margin-left: 10px;
}

.pic4{
    grid-area: d;
    width: 100%;
    
}

.pic5{
    grid-area: e;
    width: 100%;
    margin-left: 10px;
}

.about{
    padding: auto;
}

.about img{
    width: 50%;
    padding-right: 50%;
    padding-top: 10%;
    text-align: right;
    div.relative {
        position: relative;
        left: 30px;
        border: 3px solid #73AD21;
      }
}

.about a{
    background-color: #000;
    padding: auto;
    color: #fff;
    text-decoration: none;
}

.details{
    padding: 300px;
    height: 100px;
    width: auto;
    text-align: center;
    background-image: url(../images/coffee-shop.jpeg);
    background-position: 100% 100%;
    background-size:contain;
    color: #fff;
}

.order{
    background-color: #fff;
    padding: auto;
    color: #000;
    text-decoration: none;
}

.loc{
    background-color: none;
    padding: auto;
    color: #fff;
    text-decoration: none;
    border: 4px solid #fff;
}

.details h4{
    color:#d69e3d;
}

.final{
    background-color: #000;
    padding: auto;
}

.testi h2{
    color: #fff;
}

.testimonials p {
    color: #fff;
}

.testimonials h4{
    color: #d69e3d;
}

.testimonial1 {
    width: 97%;
    height: 1000px;
    background-image: url(../images/testimonial-1.jpeg);
    background-position: 100% 100%;
    background-size: cover;
    text-align: left;
    padding: auto;
    justify-content: flex-end;
    align-items: flex-end;
}

.testimonial2 {
    width: 97%;
    height: 1000px;
    background-image: url(../images/testimonial-2.jpeg);
    background-position: 100% 100%;
    background-size: cover;
    text-align: left;
    padding: auto;
    justify-content: flex-end;
    align-items: flex-end;
}

.testimonial3 {
    width: 97%;
    height: 1000px;
    background-image: url(../images/testimonial-3.jpeg);
    background-position: 100% 100%;
    background-size: cover;
    text-align: left;
    padding: auto;
    justify-content: flex-end;
    align-items: flex-end;
}

footer{
    text-align: center;
    color: #fff;
    padding: 10px;
}

@media  screen and (min-width: 768px) {

    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "i i j k"
        "i i l m";
    }
    
    .pic1{
        grid-area: i;
        width: 100%;
        margin-right: 10px;
    }
    
    .pic2{
        grid-area: j;
        width: 100%;
        margin-left: 10px;
    }
    
    .pic3{
        grid-area: k;
        width: 100%;
        margin-left: 20px;
    }
    
    .pic4{
        grid-area: l;
        width: 100px;
        margin-left: 10px;
    }
    
    .pic5{
        grid-area: m;
        width: 100%;
        margin-left: 20px;
    } 
    
    .feature1 {
        grid-area: x;
    }

    .feature2{
        grid-area: y;
    }

    .feature3{
        grid-area: z;
    }

    .offers{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "x y"
        "z z";
    }

    .details{
        display: flex;
        justify-content: center;
    }

    .men{
        padding-right: auto;
    }

    .testimonials{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "p q r";
    }

    .testimonial1{
        grid-area: p;
    }

    .testimonial2{
        grid-area: q;
    }

    .testimonial3{
        grid-area: r;
    }
}

    @media  screen and (min-width: 1100px) {


        .header, section, .details, .about, .testi{
            padding-left: auto;
            padding-right: auto;
        }

        .hero{
            width: 100%;
            height: 1500px;
            text-align: center;
            background-image: url(../images/hero-background.jpg);
            background-position: 100% 100%;
            background-size: cover;
            color: #fff;
        }

        .offers{
            display: flex;
        }

        .details{
            padding: auto;
        }

        .testimonial1{
            width: 28rem;
        }

        .testimonial2{
            width: 28rem;
        }

        .testimonial3{
            width: 28rem;
        }

    }